*.log
*.pyc
/wandb/
outputs/
*.err
*.out 
*.png
/CAMUS_data/
*.cfg
*.md 
*.nii.gz
/augmented_imgs/
/augmented_camus/
/input/
/SDM_generated_data/
/my_notebooks/
/previous_jobs/
/README_assets/
*.ipynb
*.pt
*.zip
*.DS_Store